[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphene-django = "*"
django = "*"
django-environ = "*"
psycopg2-binary = "*"
graphene-django-firebase-auth = "*"
dnspython = "*"
django-graphql-jwt = "*"
firebase-admin = "*"

[dev-packages]

[requires]
python_version = "3.10"
